{% extends "base.ext.html" %}
{% block page_title %}Index{% endblock %}

{% block page_content %}
    <h1>Index</h1>
    {% for category_slug in categories_to_show %}
        <h2>{{ categories[category_slug].name }}</h2>
        <ul>
        {% for tag in tags_per_cat[category_slug] %}
            <li><a href="{{ tag.get_url() }}">
                <img src="/{{ thumbnailer.get_thumbnail(thumbnails[tag.slug], 'tag_thumbnail').path }}" />
                {{ tag.display_name }}
            </a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}