{% extends "base.ext.html" %}

{% block page_title %}{{ collection.name }} &gt; {{ element.name }}{% endblock %}

{% block page_content %}
    <h2>{{ collection.name }}: {{ element.name }}</h2>

    {% if collection.description %}
        <p class="description">{{ collection.description }}</p>
    {% endif %}

    <div class="card-columns" id="lightgallery">
        {% for file in element.files %}
            <a href="{{ file.attributes['resized_rs_final'] }}" class="card" data-sub-html="{{ file.attributes['characteristics'] }}">
                <img src="{{ file.attributes['resized_lth_final'] }}" class="card-img-top" alt="x" >
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block style %}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.2.0/dist/css/lightgallery.css" integrity="sha256-2Jjg+suVR71tTSiQ2GprPfLI9y/a408Cj/jPkvtVzcM=" crossorigin="anonymous">
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.2.0/dist/js/lightgallery.min.js" integrity="sha256-DvR7OqR9cazOv8THApw39D018+9DzaDnBsetuIUflVQ=" crossorigin="anonymous"></script>

    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
{% endblock %}