{% extends "base.ext.html" %}

{% block page_title %}Index{% endblock %}

{% block page_content %}
    {% for collection in featured_collections %}
        <h2>{{ collection }}</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for element in featured_collections[collection]|reverse %}
            <div class="col mb-4">
                <div class="card">
                    <a href="{{ element.link }}"><img src="{{ element.picture }}" class="card-img-top" alt="{{ element.name }}"></a>
                  <div class="card-body">
                      <h5 class="card-title"><a href="{{ element.link }}">{{ element.name }}</a></h5>
                  </div>
                </div>
              </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}