{% extends "base.ext.html" %}

{% block page_title %}Index{% endblock %}

{% block page_content %}
    {% for collection in featured_collections %}
        <h2>{{ collection.name }}</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for element in collection.elements|reverse %}
            <div class="col mb-4">
            <a class="card" href="{{ element.characteristics['target_file'] }}">
                <picture><img src="{{ element.characteristics['thumbnail'] }}" class="card-img-top" alt="{{ element.name }}"></picture>
                <div class="card-overlay"><h5 class="card-title">{{ element.name }}</h5></div>
            </a>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}