html, body {
    height: 100%;
}

main {
    min-height: calc(100% - 200px); /*  = Header size (56px) + footer size (136px) */
    margin: 0;
    padding-top: 32px;
}

footer {
    margin-top: 32px;
    padding: 16px;
    background-color: #f8f9fa;
    font-size: 80%;
    color: #555;
    text-align: center;
    border-top: 1px solid #eee;
}

.card-columns {
  column-count: 2;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

.card-overlay h5 {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    margin: 0;
    width: 100%;
    color: #ccc;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0.5)
}

.card:hover .card-overlay h5 {
    color: white;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding-top: 33%;
}